* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

.form {
    width: 0px;
    height: 50px;
    padding: 20px;
}

.card-email > input {
    position: absolute;
    overflow: visible;
    background-color: white;
    width: 672px;
    height: 56px;
    left: 624px;
    top: 371px;
    border-radius: 30px;
    text-align: center;
    font-family: Segoe UI Symbol;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(112,112,112,1);
    outline: none;
}

.card-submit > button {
    background-color: rgba(240,56,97,1);
    position: absolute;
    overflow: visible;
    width: 229px;
    height: 51px;
    left: 1071px;
    top: 444px;
    border-radius: 40px;
    text-align: center;
    font-family: Segoe UI Symbol;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(245,217,126,1);
    outline: none;
    cursor: pointer;
}

button:hover{
    background-color: rgb(165, 25, 55);
    color: rgb(228, 187, 54);
}

#background {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: rgba(245,217,126,1);
    overflow: hidden;
}

#logo {
    position: absolute;
    width: 237px;
    height: 237px;
    left: 842px;
    top: 44px;
    overflow: visible;
}

.email-box {
    position: absolute;
    overflow: visible;
    width: 679px;
    height: 63px;
    left: 622px;
    top: 369px;
}

#recover-txt {
    position: absolute;
    left: 622px;
    top: 299px;
    overflow: visible;
    width: 230px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI Symbol;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(240,56,97,1);
}

#email-txt {
    opacity: 0.5;
    position: absolute;
    left: 933px;
    top: 386px;
    overflow: visible;
    width: 56px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI Symbol;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(112,112,112,1);
}

.submit-box {
    position: absolute;
    overflow: visible;
    width: 228px;
    height: 50px;
    left: 1073px;
    top: 446px;
}

#submit-txt {
    position: absolute;
    left: 1162px;
    top: 458px;
    overflow: visible;
    width: 49px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI Symbol;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(245,217,126,1);
}